---
import Contentwrap from '../components/contentwrap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Skill Exchange">
	<main>
		<Contentwrap>
			<h1>About us</h1>
			<p class="content-center">
				About us is actually somewhat overambitious, It's just me, Ben, working on this project. I'm a web developer with a passion for learning and sharing knowledge. I created Skill Exchange as a way to connect with others who share my interests and to provide a platform for people to learn from one another. I hope you enjoy using Skill Exchange as much as I've enjoyed creating it. If you have any questions or feedback, please don't hesitate to get in touch. I'd love to hear from you!
			</p>
		</Contentwrap>
	</main>
</Layout>
