---
import Contentwrap from '../components/contentwrap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Skill Exchange">
	<main>
		<Contentwrap>
			<h1>Contribute</h1>
			<p class="content-center">
				Apart from just using this site, which actually is the only reasong for its existence, you can also take a look at the code over on GitHub
			</p>
		</Contentwrap>
	</main>
</Layout>
