---
import Contentwrap from '../components/contentwrap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Skill Exchange">
	<main>
		<Contentwrap>
			<h1>Contact us</h1>
			<p class="content-center">
				Have a question or feedback? We'd love to hear from you!
			</p>
		</Contentwrap>
	</main>
</Layout>
