---
import Contentwrap from '../components/contentwrap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Skill Exchange">
	<main>
		<Contentwrap>
			<h1>Dashboard</h1>
			<p class="content-center">
				This will be the user dashboard, where users can see their own skills, the skills they're interested in, and any messages they've received.
			</p>
		</Contentwrap>
	</main>
</Layout>
