---
import Contentwrap from '../components/contentwrap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Skill Exchange">
	<main>
		<Contentwrap>
			<h1>People</h1>
			<p class="content-center">
				Just imagine all the people who could be sharing their skills with you. Now imagine all the people you could be sharing your skills with. That's what Skill Exchange is all about. We're a community of learners and teachers, coming together to share knowledge and skills with one another. Whether you're looking to learn something new or share your expertise with others, you'll find a welcoming community here at Skill Exchange. Join us today and start sharing your skills with the world!
			</p>
		</Contentwrap>
	</main>
</Layout>
