---
import Contentwrap from '../components/contentwrap.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Skill Exchange">
	<main>
		<Contentwrap>
			<h1>Skills</h1>
			<p class="content-center">
				There should be a list of skills here, but we haven't implemented that yet. Check back soon for updates!
			</p>
		</Contentwrap>
	</main>
</Layout>
