---
import {Footer} from '../components/footer.jsx';
import {NavbarDefault} from '../components/navbar.jsx';
import ThemeProvider from '../components/theme-provider';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Skill Exchange" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<ThemeProvider client:only>
			<div class="flex flex-col min-h-screen">
				<NavbarDefault client:only></NavbarDefault>
				<div class="flex-grow">
					<slot />
				</div>
				<Footer client:only></Footer>
			</div>
		</ThemeProvider>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		color: #fff;
	}

	h1 {
		font-size: 3.2rem;
		text-align: center;
	}
	h2 {
		font-size: 2.4rem;
		text-align: center;
	}
	h3 {
		font-size: 1.8rem;
		text-align: center;
	}

	p {
		margin-bottom: 1rem;
	}
</style>
